# используем язык java. Travis CI поддерживает другие языки тоже.
language: java
jdk:
  - openjdk14

services:
  - postgresql

before_install:
  - psql -c 'create database idea_db;' -U postgres
  - psql -c 'create database spammer;' -U postgres

# используем режим обычного пользователя для сборки проекта.
sudo: false


# после выполнения сборки запустить скрипт, который будет собирать статистику по JaCoCo
# Здесь используется сторонни сервис https://codecov.io/
after_success:
  - bash <(curl -s https://codecov.io/bash)

# Отправлять уведомление на почту ifs3112@gmail.com(Изменить на свою) если сборка упала
notifications:
  email:
    recipients:
      -ifs3112@gmail.com
    on_success: never # default: change
    on_failure: never # default: always

env:
  global:
    - CODECOV_TOKEN="12dfc3c9-e719-45ef-95fe-c3b9122e91da"


